ul{
    padding: 0;
    width: 520px;
}










/* body{
    width: 100%;
}

.shomare1{
    width: 50%;
}

.border{
    width: 50%;
}

.shomare2{
    width: 100%;
}

.shomare3{
    width: 100%;
} */
/* 
.shomare4{
    width: 50%;
}

.shomare5{
    width: 50%;
} */
